* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.explorer {
    display: flex;
    height: calc(100vh - 90px);
}

/* inizio sezione aside */

aside {
    width: 230px;
    height: 100%;

    background-color: black;
    color: #7d7f84;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-top {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.logo img {
    width: 134px;
}

.logo .small {
    display: none;
}

.main-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.main-links a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
}

.main-links img {
    height: 20px;
}

.main-links span {
    color: #7d7f84;
}

.playlist h3 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 14px;
}

.playlist a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 22px;
    text-decoration: none;
    color: #7d7f84;
}

.playlist .fa-solid {
    display: inline-block;
    color: black;
    background-color: #7d7f84;
    font-size: 16px;
    padding: 10px 10px 12px;
}

.playlist-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: calc(100% - 87px);
}

/* fine sezione aside */

/* inizio sezione main */

main {
    width: calc(100% - 230px);
    height: 100%;
    background-color: #141922;

    overflow-y: auto;
    padding: 90px 20px 20px;
}

.banner {
    height: 90px;
    width: calc(100% - 230px);

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    text-transform: uppercase;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 20px;
}

.filters {
    width: 100%;

    color: #7d7f84;

    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    padding: 20px;
    margin-bottom: 16px;
}

h1 {
    color: white;
    padding-top: 36px;
    padding-bottom: 36px;

    font-size: 18px;
}

.selector {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.album {
    width: calc(100% / 6 - 16px / 6 * 5);
    max-width: 200px;
    color: white;
}

.album .cover {
    margin-bottom: 16px;
}

.cover img {
    width: 100%;
}

.album .text {
    text-align: center;
}

.album .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.artist , .foryou {
    color: #7d7f84;
    font-size: 10px;
    font-weight: bold;
}

.foryou {
    padding-bottom: 28px;
}

h1:last-of-type {
    padding-bottom: 18px;
}

/* fine sezione main */

/* inizio sezione footer */

footer {
    width: 100vw;
    height: 90px;
}




/* test */

footer {
    background-color: yellow;
}

/* fine test */