* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.explorer {
    display: flex;
    height: calc(100vh - 90px);
}

/* inizio sezione aside */

aside {
    width: 230px;
    height: 100%;
}

/* fine sezione aside */

/* inizio sezione main */

main {
    width: calc(100% - 230px);
    height: 100%;
}

.banner {
    height: 90px;
    width: calc(100% - 230px);

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    text-transform: uppercase;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 20px;
}

/* fine sezione main */

/* inizio sezione footer */

footer {
    width: 100vw;
    height: 90px;
}




/* test */
aside {
    background-color: red;
}

main {
    background-color: green;
}

footer {
    background-color: yellow;
}

/* fine test */